build/
src/*.dll
src/*.a
src/x64
.cproject
.project
.idea
cmake-build-*
debian/debhelper-build-stamp
debian/files
debian/libmirisdr5.debhelper.log
debian/libmirisdr5.substvars
debian/libmirisdr5
debian/.debhelper
obj-x86_64-linux-gnu/
